img {
    border-radius: 50%;
}

.lgc-bg-inverse {
    background-color: #0d1117;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.not-dark {
    background-color: #fff;
    transition-property: background-color;
    transition-duration: 0.7s;
}